<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Win_Commerce.Properties.Settings.CommerceConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\Commerce.accdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
</configuration>